/*navbar */

.navbar{
	/*agar navbarnya ada didepan */
	position: relative;
	z-index: 1;
}

.navbar-brand{
	font-family: Viga;
	font-size: 32px;
}

.jumbotron {
	background-image: url(img/jumbotron-bg.jpg);
	/*untuk gambarnya full*/
	text-align: center;
	background-size: cover;
	height: 540px;
	position: relative;
	/*agar jumbrootronnya ke atas mengikuti nvbar*/
}

.jumbotron .container{
	position: relative;
	z-index: 1;
}
/*gradasi warna*/
/*membuat lapisan sbesar jumbotron*/
.jumbotron::after{
	content: '';
	display: block;
	width: 100%;
	height: 80%;
	/*image ada bayangan hitam*/
	background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	/*background-color: black;*/
	/*naik 1 dimensi*/
	position: absolute;
	/*agar posisi sama dengan jumbtron*/
	bottom: 0;
}

.jumbotron .display-4{
	color: white;
	margin-top: 150px;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	font-size: 40px;
	margin-bottom: 30px;
}

.jumbotron .display-4 span{
	font-weight: 500;
}

/*info panel*/
.info-panel{
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	margin: -100px;
	background-color: white;
	padding: 30px;
}

.info-panel img{
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.info-panel h4{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}

.info-panel p{
	font-size: 14px;
	color: #acacac;
	font-weight: 200;
}



/* utility */
.tombol{
	text-transform: uppercase;
	border-radius: 40px;
}


/*versi desktop */

/* responsive breakpoint boostrap*/
@media (min-width: 992px) { 

	.navbar-brand, .nav-link{
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);	
	}

	.nav-link{
		/* tulisan di link menjadi huruf besar */
		text-transform: uppercase;
		/* margin kiri antara link 30px*/
		margin-right: 30px;
	}

/*	.nav-link:hover{
		border-bottom: 3px solid #0b63dc;
	}*/

	/*garis biru pada link*/
	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 3px solid #0b63dc;		
		width: 50%;
		/* garis biru agar ketengah */
		margin: auto;
		padding-bottom: 5px;
		/* karna naik maka pakai margin 5 + 3 = 8 */
		margin-bottom: -8px;
	}

	.jumbotron{
		margin-top: -75px;
    	height: 640px;
	}

	.jumbotron .display-4{
		font-size: 62px;
	}

}