/*navbar */

.navbar-brand{
	font-family: Viga;
	font-size: 32px;
}

.jumbotron {
	background-image: url(img/jumbotron-bg.jpg);
	/*untuk gambarnya full*/
	background-size: cover;
	height: 640px;
}


/* utility */
.tombol{
	text-transform: uppercase;
	border-radius: 40px;
}


/*versi desktop */

/* responsive breakpoint boostrap*/
@media (min-width: 992px) { 

	.nav-link{
		/* tulisan di link menjadi huruf besar */
		text-transform: uppercase;
		/* margin kiri antara link 30px*/
		margin-right: 30px;
	}

/*	.nav-link:hover{
		border-bottom: 3px solid #0b63dc;
	}*/

	/*garis biru pada link*/
	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 3px solid #0b63dc;		
		width: 50%;
		/* garis biru agar ketengah */
		margin: auto;
		padding-bottom: 5px;
		/* karna naik maka pakai margin 5 + 3 = 8 */
		margin-bottom: -8px;
	}

}